extends layout

block content
  .gbb-row-wrapper
    .gbb-row.bg-size-default
      .bb-inner.remove_padding
        .bb-container.container
          .row
            .row-wrapper.clearfix
              .gsc-column.col-lg-12.col-md-12.col-sm-12.col-xs-12
      br
      #showcase
        .container
          .showcase-content
            //- h1
            //-   span.text-primary  Bienvenu 
            //-   | dans les Ateliers 
            //-   br 
            //-   | Hidayah
            p.lead
              | Apprendre pour comprendre, Comprendre pour aimer, Aimer pour pratiquer.

            a.btn(href='/apropos') Lire plus
      br
      section#home-info.bg-dark
          //- .items
          //-   .info-img
          .info-content.index
           h2
            | Alhamdullilah, 
            span.text-primary l’Académie Islamique 
            span(style="text-decoration:none") est là! 
           p
            | L'objectif de cette académie est d'offrir un programme d'étude islamique complet à travers la lecture, la mémorisation, la compréhension et la mise en pratique du Coran.
            | Nous sommes très heureux d'offrir des cours pour 
            strong enfants et adultes, aux mêmes heures pour plus de facilité aux familles, le samedi matin
            | et des cours uniquement pour enfants le mercredi après-midi.
           a.btn.btn-light(href='/apropos') Lire plus
      section#features
        .box.bg-light
          i.fas.fa-hotel.fa-3x
          h3 Accès Facile
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sint.
        .box.bg-primary
          i.fas.fa-book-reader.fa-3x
          h3 Bibliothèque
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sint.
        .box.bg-light
          i.fas.fa-frog.fa-3x
          h3 Eco Tours
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sint.
          