doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Les ateliers al hidayah Bamako')
    meta(name='keywords', content='centre, bamako alhidayah, mali alhidayah')
    script(src='https://kit.fontawesome.com/5d5e23a2e2.js', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Alhidayah | Bamako
  body
    block content
    footer#main-footer
      p Alhidayah club © 2020, All Rights reserved
